#container {
    width: 80vw;
    height: auto;
    position: sticky;
    top: 0;
    transition: top 0.3s ease; /* Smooth transition effect */
    background-color: #ffffff;
    z-index: 1;
    border-radius: 10px;

  }


  .sticky {
    position: fixed;
    top: 100px;
    width: 80%;
    height: auto !important;
    padding: 10px;
    z-index: 1;
    background-color: #ffffff;
  }

.banner_search{
    position: sticky;
    bottom: 100px;
    z-index: 5;

    /* width: 80vw ; */
}

/* #pills-tabContent{
    width: 80vw ;
    position: fixed;
} */
/* .adv_search_area .show_search{
    position: fixed;
} */
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--colorBlack);
    color: white;
    display: none;
}
.adv_search_area.show_search1 {
    transform: scale(1);
    position: absolute;
    top: 7vw !important;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.adv_search_area2.show_search2 {
    transform: scale(1);
    position: absolute;
    top: 7vw !important;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.sticky {
    width: 82vw !important;
}

#home_form {
    display: flex ;
    justify-content: space-around;
    align-items: center;
    padding: 15px 30px;
    gap: 30px;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 110% !important;

}
#min_max{
    display: flex;
    margin: 0;
    padding: 0 5px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    gap: 5px;
    justify-content: center;
    align-items: center;

    /* justify-content: space-evenly; */
    /* margin-left: 20px; */
}
#min_max2 {
    display: flex;
    margin: 0;
    padding: 0 5px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0;
    gap: 25px;
    /* justify-content: center; */
    align-items: center;
}
#min_max .select2-selection__rendered{
    width: 8vw !important;
}
#min_max2 .select2-selection__rendered{
    width: 8vw !important;
}
.adv_search_area3.show_search {
    padding: 15px 30px;
    top: 150px;
}
.adv_search_area4.show_search {
    padding: 15px 30px;
    top: 150px;
}
#buy #min_max2 {

    top: 5px;
}
 #rent #home_form {
    display: flex !important;
    justify-content: normal;
    align-items: center;
    padding: 15px 0px;
    gap: 30px;
}
.rent001 {
    width: 70vw !important;
}
.rent001 .adv_search_area.show_search {
    top: 6vw !important;
}
.rent001 .adv_search_area2.show_search {

    top: 6vw !important;
}
.rent001 #min_max2 {
    top: 2px;
}
.rent001 .adv_search_area2 {
    width: 28%;
}
#buy #home_form {

    padding: 15px 0px;
    gap: 70px;

}
i.fa-solid.fa-map {
    display: flex;
    gap: 10px;
}
button#btn001 {
    background-color: #fff;

}
#map001{
    display: none;
    width: 100vw !important;

    /* position: absolute; */
}
#list001{
    display: block;
    width: 100vw !important;

    /* position: absolute; */
}
#btn002{
    display: none;
    background-color: #fff;
    padding-bottom: 15px;
}
/* .row.mt_95.xs_mt_75 {
    position: relative;
} */
i.fa-solid.fa-list {
    /* text-align: left; */
    display: flex;
    gap: 5px;
}
#buy_container{
    /* background-color: red; */
    padding: 0px 290px;
}
#buy .banner_search .tab-content {

    width: 68vw;
    left: -24px

}

@media screen and (max-width:768px) {
    #home_form {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }
    .select_label {

        padding: 9px 9px;

    }
    .sd-CustomSelect span.placeholder {
        width: 29vw;

    }

}
