#container {
    width: 80vw;
    height: auto;
    position: sticky;
    top: 0;
    transition: top 0.3s ease; /* Smooth transition effect */
    background-color: #ffffff;
    z-index: 1;
    border-radius: 10px;

  }


  .sticky {
    position: fixed;
    top: 100px;
    width: 80%;
    height: auto !important;
    padding: 10px;
    z-index: 1;
    background-color: #ffffff;
  }

.banner_search{
    position: sticky;
    bottom: 100px;
    z-index: 5;

    /* width: 80vw ; */
}

/* #pills-tabContent{
    width: 80vw ;
    position: fixed;
} */
/* .adv_search_area .show_search{
    position: fixed;
} */
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--colorBlack);
    color: white;
    display: none;
}
.adv_search_area.show_search1 {
    transform: scale(1);
    position: absolute;
    top: 7vw !important;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.adv_search_area2.show_search2 {
    transform: scale(1);
    position: absolute;
    top: 7vw !important;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.sticky {
    width: 82vw !important;
}

#home_form {
    display: flex ;
    justify-content: space-around;
    align-items: center;
    /* padding: 15px 30px; */
    gap: 30px;
}

#buy #home_form {

    padding: 15px 0px;
    gap: 70px;

}
i.fa-solid.fa-map {
    display: flex;
    gap: 10px;
}
button#btn001 {
    background-color: #fff;

}
#map001{
    /* display: none; */
    width: 35% !important;

    /* position: absolute; */
}
#list001{
    display: block;
    width: 65% !important;

    /* position: absolute; */
}
.mt_95.xs_mt_75.view001 {
    display: flex;
}
#btn002{
    /* display: none; */
    background-color: #fff;
    padding-bottom: 15px;
}
/* .row.mt_95.xs_mt_75 {
    position: relative;
} */
i.fa-solid.fa-list {
    /* text-align: left; */
    display: flex;
    gap: 5px;
}
#buy_container{
    /* background-color: red; */
    padding: 0px 290px;
}
#buy .banner_search .tab-content {

    width: 68vw;
    left: -24px

}

@media screen and (max-width:768px) {
    #home_form {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }
    .select_label {

        padding: 9px 9px;

    }
    .sd-CustomSelect span.placeholder {
        width: 35vw;

    }
    .sd-CustomSelect span.placeholder {
        padding: 10px 2px;
        font-size: 11px;
    }
    .select_label {
        font-size: 11px !important;

    }

}
