
        /* body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        } */
        .form-container {
            background-color: #ffffff17;
            padding: 20px 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            text-align: center;
        }
        h2 {
            margin-bottom: 20px;
            color:  #e6b025;
        }
        .checkbox-group {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        .checkbox-group label {
            margin-bottom: 10px;
            font-size: 16px;
            color: #555;
        }
        .checkbox-group input[type="checkbox"] {
            margin-right: 10px;
        }
        .submit-btn {
            margin-top: 20px;
            padding: 15px 20px;
            background-color: #94792f;
            color: #fff;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
        }
        .submit-btn:hover {
            background-color: #aa5a0f;
        }

